.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    app-swiping-hero-banner,
    app-campain-counter-event,
    app-about-candidate,
    app-featured-programs,
    app-program-banner,
    app-home-campain-abassador,
    app-home-last-news{
        width: 100%;
    }
}