.video-list {
    display: flex;
    justify-content: center;
    width: 100%;

    .content {
        width: 100%;

        .videos {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
            width: 100%;
            margin-top: 3rem;
            gap: 1rem;

            .video {
                display: flex;
                flex-direction: column;
                width: 100%;
                cursor: pointer;
                border-radius: 10px;
                border: 1px solid transparent;
                color: var(--project-black-primary-color);

                &:hover {
                    border: 1px solid var(--project-black-primary-color);
                }

                .top {
                    width: 100%;
                    position: relative;
                    border-radius: 10px 10px 0 0;
                    overflow: hidden;
                    height: 150px;

                    .image-wrapper {
                        position: relative;
                        width: 100%;
                        height: 100%;

                        img {
                            object-fit: cover;
                            object-position: center;
                        }
                    }

                    .youtube-play-icon {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: #191922de;
                        border-radius: 10px;
                        width: 55px;
                        height: 35px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        pointer-events: none;

                        i {
                            color: red;
                            font-size: 1.1em;
                        }
                    }

                    .youtube-duration {
                        position: absolute;
                        right: 5px;
                        bottom: 10px;
                        background: var(--project-white-primary-color);
                        color: var(--project-black-primary-color);
                        padding: 2px 5px;
                    }
                }

                .bottom {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding: 10px;

                    .youtube-statistics {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 7px;
                        font-weight: 600;
                        font-size: 15px;
                        width: 100%;

                        small {
                            font-size: 0.9em;
                            width: fit-content;
                            text-align: center;
                            text-wrap: wrap;

                            &:first-child {
                                margin-right: 5px;
                            }

                            &:last-child {
                                margin-left: 5px;
                            }
                        }
                    }

                    p {
                        font-size: 1rem;
                        line-height: 1.3;
                        letter-spacing: -1;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        -webkit-line-clamp: 3;
                        font-weight: 600;
                    }
                }
            }

            .active-video {
                background-color: var(--project-blue-tertiary-color);
            }
        }
    }
}

@media all and (max-width: 768px) {
    .video-list {
        .content {
            .videos {
                margin-top: 2rem;
            }
        }
    }
}

@media all and (max-width: 450px) {
    .video-list {
        .content {
            .videos {
                margin-top: 2rem;

                .video{
                    .top{
                        height: 175px;
                    }
                }
            }
        }
    }
}