<div class="video-list">
    <div class="content my-container">
        <div class="videos">
            @for (video of videoList; track $index) {
                <div 
                    class="video" 
                    [ngClass]="video.isActive ? 'active-video' : ''"
                    (click)="emitYoutubeVideoClickedEvent(video.link, $index)"
                >
                    <div class="top">
                        <div class="image-wrapper">
                            <img [ngSrc]="video.image" alt={{video.image}} fill>
                        </div>
                        <div class="youtube-play-icon">
                            <i class="pi pi-caret-right"></i>
                        </div>
                        <div class="youtube-duration">
                            <small> {{video.duration! | convertYoutubeTime}} </small>
                        </div>
                    </div>
        
                    <div class="bottom">
                        <div class="youtube-statistics">
                            <small> {{video.viewCount | number}} Vues</small>
                            <small> {{video.likeCount | number}} Likes </small>
                        </div>
                        
                        <p> {{video.title}} </p>
                    </div>
                </div>
            }
        </div>
        
    </div>
</div>
