<div class="biography-bloc">
    <div class="content my-container">
        <div class="introduction">
            <div class="header-networks">
                <h3>Un Leader Engagé</h3>

                <ul class="networks">
                    @for (network of networks; track $index) {
                    <li>
                        <a href={{network.link}} target="_blank" data-aos="fade-left" data-aos-duration="1000"
                            [attr.aria-label]="network.name">
                            <fa-icon [icon]="network.icon | convertStringLabelToFontawesomeIcon"></fa-icon>
                        </a>
                    </li>
                    }
                </ul>
            </div>
            <P>
                Né à Douala le 30 septembre 1979, Serge Espoir Matomba est un homme politique camerounais, Premier
                secrétaire du Peuple uni pour la rénovation sociale (PURS). Issu d'un milieu modeste et élevé selon
                des valeurs chrétiennes, il est marié et auteur de plusieurs ouvrages. Dès son jeune âge, il s'est
                affirmé comme l'une des premières voix jeunes à dénoncer les travers du régime en place.
            </P>
        </div>

        <div class="biography-elements">
            @for (biography of biographyBlocs; track $index) {
            <div class="biography-element" [ngClass]="$index%2 != 0 ? 'reverse' : ''">
                <div class="image-wrapper">
                    <img [ngSrc]="biography.image" [alt]="biography.altImg" fill>
                </div>
                <div class="texts">
                    <h3> {{biography.title}} </h3>
                    @for (text of biography.texts; track $index) {
                    <p>{{text.text}} </p>
                    }
                </div>
            </div>
            }
        </div>
    </div>
</div>