.biography-bloc {
    display: flex;
    width: 100%;
    justify-content: center;

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 6rem;

        .introduction {
            display: flex;
            justify-content: space-between;

            .header-networks {
                display: flex;
                flex-direction: column;
                gap: 2.5rem;

                h3 {
                    font-size: 2rem;
                    font-weight: 900;
                    color: var(--project-blue-primary-color);
                }

                .networks {
                    display: flex;
                    list-style: none;

                    li {
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: transparent;
                            width: 45px;
                            height: 45px;
                            border-radius: 50%;
                            margin-right: 10px;
                            color: var(--project-blue-primary-color);
                            background-color: var(--project-white-primary-color);
                            box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;

                            &:hover {
                                transform: scale(1.2);
                                background-color: var(--project-yellow-primary-color);
                                box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
                                transition: all 0.2s ease-in-out;
                            }

                            fa-icon {
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
            }

            p {
                max-width: 700px;
                font-size: 1rem;
                font-weight: 600;
                line-height: 1.6;
                color: var(--project-font-black);
            }
        }

        .biography-elements {
            display: flex;
            flex-direction: column;
            gap: 3rem;

            .biography-element {
                display: flex;
                gap: 2rem;
                justify-content: space-between;
                width: 100%;
                padding: 1.5rem;
                border-radius: 10px;
                background-color: var(--project-yellow-secondary-color);
                box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                align-items: center;
                position: relative;

                .image-wrapper {
                    flex: 1;
                    position: relative;
                    height: 20rem;
                    border-radius: 5px;
                    overflow: hidden;

                    img {
                        transform: scale(1.2);
                        object-fit: cover;
                        object-position: top center;
                    }
                }

                .texts {
                    flex: 2;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 1.5rem;

                    h3 {
                        color: var(--project-blue-primary-color);
                        font-size: 2rem;
                        line-height: 1;
                        letter-spacing: -1px;
                    }

                    p {
                        line-height: 1.5;
                        font-size: 1rem;
                    }
                }
            }

            .reverse {
                flex-direction: row-reverse;
            }
        }
    }
}


@media all and (max-width: 1120px) {
    .biography-bloc {
        .content {
            .introduction {
                flex-direction: column;
                align-items: center;
                gap: 2rem;

                .header-networks {
                    align-items: center;

                    h3 {
                        text-align: center;
                    }
                }

                p {
                    text-align: center;
                }
            }
        }
    }
}


@media all and (max-width: 900px) {
    .biography-bloc {
        .content {
            .introduction {
                flex-direction: column;
                align-items: center;
                gap: 2rem;

                .header-networks {
                    align-items: center;

                    h3 {
                        text-align: center;
                    }

                    .networks {
                        li {
                            a {
                                width: 40px;
                                height: 40px;

                                fa-icon {
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }
                }

                p {
                    text-align: center;
                }
            }

            .biography-elements {
                .biography-element {
                    flex-direction: column;
                    margin-top: 18rem;
                    margin-bottom: 3rem;
                    padding: 2rem 1rem;

                    .image-wrapper {
                        height: 20rem;
                        width: 100%;
                        overflow: visible;
                        z-index: -1;
                        flex: unset;
                        position: absolute;
                        top: -18rem;

                        img {
                            object-position: top center;
                        }
                    }

                    .texts {
                        align-items: center;

                        h3 {
                            font-size: 1.5rem;
                            text-align: center;
                        }

                        p {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}