.top-about{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 8rem;

    .content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .image{
            background-image: url("../../../../../../../assets/img/candidate/candidature-amadou-ba.png");
            background-repeat: no-repeat;
            background-position: 0 -63px;
            background-size: cover;
            width: 500px;
            height: 400px;
            position: relative;
            border-radius: 10px;

            &::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: var(--project-secondary-color);
                top: 2.5rem;
                right: -2.5rem;
                z-index: -1;
                border-radius: 10px;
            }
        }

        .texts{
            display: flex;
            flex-direction: column;
            width: calc(100% - 600px);

            h3{
                font-size: 2.5rem;
                margin-bottom: 30px;
                color: var(--project-primary-color);
                position: relative;
                padding: 7px 0 7px 40px;

                &::before{
                    position: absolute;
                    content: "";
                    width: 8px;
                    height: 100%;
                    background-color: var(--project-primary-color);
                    left: 0;
                    top: 0;
                    border-radius: 10px;
                }
            }

            p{
                line-height: 26px;
                color: var(--project-font-black);
                margin-bottom: 20px;
            }

            button{
                display: flex;
                align-items: center;
                padding: 7px 20px;
                color: var(--project-primary-color);
                background-color: white;
                border: 2px solid var(--project-primary-color);
                width: fit-content;
                border-radius: 5px;
                cursor: pointer;
                position: relative;
                overflow: hidden;
                flex-wrap: nowrap;

                &::before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    background-color: var(--project-primary-color);
                    left: -100%;
                    transition: left 0.2s ease-in-out ;
                }

                &:hover{
                    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;                         
                    color: white !important;

                    &::before{
                        left: 0;
                    }

                    span{
                        z-index: 1;
                    }

                    i{    
                        transform: rotate(45deg);
                    }
                }

                span{
                    font-size: 0.96rem;
                    white-space: nowrap;
                }

                i{
                    margin-left: 7px;
                    font-size: 1.2rem;
                    transition: all 0.2s ease-out;
                }
            }
        }
    }
}

@media all and (max-width: 1024px){
    .top-about{
        margin-bottom: 3rem;

        .content{
            .image{
                width: 400px;
                height: 350px;

                &::before {
                    top: 2rem;
                    right: -2rem;
                }
            }
    
            .texts{
                width: calc(100% - 500px);

                h3{
                    font-size: 2.3rem;
                    margin-bottom: 30px;
                    padding: 7px 0 7px 30px;
    
                    &::before{
                        width: 6px;
                    }
                }
    
                p{
                    font-size: 15px;
                    line-height: 23px;
                }
            }
        }
    }
}

@media all and (max-width: 890px){
    .top-about{
        .content{
            flex-direction: column-reverse;

            .image{
                margin-top: 70px;
                max-width: 400px;
                height: 350px;

                &::before {
                    display: none;
                }
            }
    
            .texts{
                width: 100%;
                align-items: center;

                h3{
                    font-size: 2.3rem;
                    margin-bottom: 50px;
                    padding: 0;
                    text-align: center;
    
                    &::before{
                        width: 150px;
                        height: 6px;
                        left: 50%;
                        transform: translateX(-50%);
                        top: unset;
                        bottom: -20px;
                    }
                }
    
                p{
                    text-align: center;
                }
            }
        }
    }
}

@media all and (max-width: 445px){
    .top-about{
        margin-bottom: 3rem;
        .content{
            .image{
                margin-top: 50px;
                width: 100%;
            }
        }
    }
}