<div class="home-pact-modal">
    <div class="content my-container">
        <h1>
            <span>PACTE</span>
            <span>D’ENGAGEMENT ETHIQUE ET POLITIQUE</span>
            <span>DU CANDIDAT DE BENNOO BOKK YAAKAAR ET DE LA GRANDE MAJORITE PRESIDENTIELLE</span>
        </h1>
    
        <p>Moi, <strong>M. Amadou BA</strong>, choisi de maniére consensuelle pour porter la candidature de
            Bennoo Bokk Yaakaar et de la Grande majorité présidentielle a I’élection présidentielle
            de février 2024,
        </p>
        <p>
            Conscient des enjeux de la Présidentielle de 2024 qui pose le choix de la sauvegarde
    du mode¢le sénégalais de République démocratique, dans la paix et la stabilité ou celui
    d’un régime obscurantiste de I’aventure et du chaos,
        </p>
        <p>
            Soucieux de I’avenir de notre pays et de la nécessité de poursuivre les politiques
    publiques portées par le PSE pour I’intérét exclusif des populations du Sénégal, dans
    le contexte particulier d’exploitation du pétrole et du gaz,
        </p>
        <p>
            Adossé au bilan magnifique, matériel comme immatériel, du Président Macky SALL
    qui a réalisé, grace au Plan Sénégal Emergent (PSE), des performances exceptionnelles,
    dans tous les secteurs d'activités de la vie politique, économique, sociale et culturelle
    du pays, plagant ainsi le Sénégal sur les rampes de |’émergence et a en faire un pays
    respecté partout dans le monde,
        </p>
        <p>
            Conforté par ces acquis fondamentaux que notre majorité politique a la responsabilité
    historique de maintenir et de consolider, pour rendre inflexible, voire irréversible la
    trajectoire du pays vers l'émergence, a I'horizon 2035,
        </p>
        <p>
            Inspiré par la décision historique du Président Macky SALL qui a décidé ne pas se
    présenter a I’élection présidentielle du 25 février 2024 pour respecter un engagement
    moral face a la Nation et au monde, et qui a redonné a la politique ses lettres de noblesse
    en portant haut, encore une fois, le flambeau d'un Sénégal démocratique, digne et fier
    de sa trajectoire historique,
        </p>
        <p>
            Fort de I’expérience exceptionnelle de la Coalition Bennoo Bokk Yaakaar, majorité
    qui gouverne le Sénégal, depuis 2012, grace au leadership fédérateur hors du commun
    incarné par le Président Macky Sall qui a su la consolider et l'ouvrir sans cesse a de
    nouveaux apports aux plans politique, social, culturel et citoyen,
        </p>
        <p>
    
    Mesurant I’engagement de tous les leaders de la majorité tout aussi attachés a la cause
    commune, pour privilégier en toutes circonstances la primauté de l'intérét général au
    service du pays, de sa stabilité et de son progres, créant ainsi un puissant esprit Bennoo
    qui a valu a notre Coalition les belles victoires remportées, lors de toutes les
    compétitions électorales décisives auxquelles notre majorité a participé.Respectueux
    des conclusions et accords consensuels noués dans Bennoo, a I’issue de ses différentes
    rencontres (séminaires, conférences des leaders...)
        </p>
        <p>
            <strong> Je m’engage</strong>, devant Bennoo Bokk Yaakaar et la Majorité Présidentielle, a réaliser ;
    dans un esprit d’équipe solidaire et généreux, les accords auxquels ont abouti les
    différentes composantes de notre grande coalition, aprés douze (12) années de luttes
    communes, de concertations fécondes et qui se déclinent ainsi qu’il suit :
        </p>
    
        <ol>
            <li>
                A rester, en toutes circonstances, fidéle a l'esprit Bennoo du " Gagner ensemble,
    gouverner ensemble ", un des principaux marqueurs de la gouvernance Macky SALL
    et en conséquence s'attacher a la sauvegarde de la Coalition Bennoo Bokk Yaakaar, au-
    dela de la victoire, a 1'élection présidentielle de 2024 qui devra étre prolongée par une
    large majorité Bennoo Bokk Yaakaar aux prochaines élections législatives et
    territoriales.
            </li>
            <li>
                A mettre en ceuvre avec fermeté et esprit de suite la politique de préservation de la
    paix, de la sécurité individuelle et collective, interne et externe, ainsi que de la stabilité
    politique de notre pays face aux forces insurrectionnelles qui veulent précipiter le
    Sénégal dans le chaos,
            </li>
            <li>
                A poursuivre la réalisation du PSE dans ses différentes déclinaisons, dans tous les
    domaines, pour I’amélioration des conditions de vie des populations, en accordant une
    place spéciale a ’emploi des jeunes et a I’autonomisation des femmes,
            </li>
            <li>
                A prendre en charge les conclusions issues du séminaire d’évaluation de la coalition
    BBY organisé par la conférence des leaders de Bennoo Bokk Yaakaar et de la Grande
    majorité présidentielle en décembre 2022 notamment, en ce qui concerne I’offre
    politique, I’organisation de Bennoo Bokk Yaakaar, la communication, etc.
            </li>
            <li>
                A sauvegarder et a renforcer I’unité de Bennoo Bokk Yaakaar et de la Grande
    Majorité Présidentielle en assurant le bon fonctionnement de ses instances de
    délibération et d’action, par la concertation et la consultation continues, dans une
    perspective d’élargissement de ses rangs.
            </li>
            <li>
                A confirmer l'ancrage dans le dialogue national en faisant de celui-ci une instance
    nationale de concertation, de régulation, d'anticipation et de gestion prévisionnelle des
    crises et de gouvernance citoyenne inclusive de la Nation...
            </li>
            <li>
                Et a consolider le vaste bloc républicain issu du dialogue national avec la
    représentation effective de toutes forces vives de la nation et dans cette perspective
    installer le comité de suivi du dialogue national et élargir son champ de compétence
    sur la facilitation des convergences entre I'Etat et les acteurs économiques et sociaux
    dans la perspective d'un pacte durable de stabilité sociale.
            </li>
        </ol>
    
        <div class="signature">
            <p>
                Fait a Dakar, le 2 OCTOBRE 2023
            </p>
            <p>
                <strong>Candidat de de Bennoo bokk Yaakaar</strong> 
            </p>
            <p>
                <strong>Amadou BÂ</strong>
            </p>
        </div>
    </div>
</div>
