.article-detail{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    app-secondary-hero{
        width: 100%;
    }

    .content{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 6rem;

        app-article-data{
            width: 100%;
        }

        app-article-detail-side-block{
            width: fit-content;
        }
    }
}

@media all and (max-width: 970px){
    .article-detail{
        .content{
            flex-direction: column;
            width: 100%;
            margin-top: 5rem;
    
            app-article-data{
                width: 100%;
            }
    
            app-article-detail-side-block{
                width: 100%;
            }
        }
    }
}