<div class="program-top">
    <div class="content my-container">
        <div class="image-wrapper">
            <img ngSrc="../../../../../../../assets/img/program/resume-du-programme-du-candidat-serge-espoir-matomba.jpeg"
                fill priority alt="Résumé du programme du candidat Serge Espoir Matomba">
        </div>

        <div class="texts">
            <div class="top">
                <h2>LIBERTÉ</h2>
                <P>
                    Serge Espoir MATOMBA propose un projet de société fondé sur la souveraineté nationale, la justice
                    sociale, la refondation de l’État ainsi que l’affirmation de l’identité et la diversité
                    camerounaise. Il
                    souhaite bâtir un Cameroun autonome, équitable, culturellement riche, inclusif et durable, affranchi
                    des
                    tutelles néocoloniales. L'objectif est claire : un toi sur votre tête, trois repas par jour dans
                    votre
                    assiette, l'éducation et la santé vos droits. Le projet s'inscrit dans une volonté de décolonisation
                    totale du continent, appuyée sur une renaissance culturelle, économique, portée par des
                    insititutions
                    responsables.
                </P>
            </div>

            <div class="bottom">
                <div class="main">
                    <h4>03 PILIERS</h4>
                    <ul>
                        <li>IDENTITÉ</li>
                        <span>-</span>
                        <li>UNITÉ</li>
                        <span>-</span>
                        <li>SOUVERAINETÉ</li>
                    </ul>
                </div>

                <a target="_blank" href="../../../../../../../assets/pdf/liberte_programme_serge_sespoir_matomba.pdf" download="propositions.pdf">
                    Télécharger le résumé du programme
                    <fa-icon [icon]="'faDownload' | convertStringLabelToFontawesomeIcon"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</div>