
header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 9999;
    height: 9rem;
    padding-top: 10px ;
    padding-bottom: 10px;

    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;

        .logo{
            font-size: 2rem;
            color: white;
            font-weight: bold;
            text-decoration: none;
            letter-spacing: -2px;
        }
        
        nav{

            display: flex;
            justify-content: center;
            align-items: center;

            ul{
                display: flex;
                list-style: none;
                justify-content: center;
                align-items: center;
                margin: 0;
            
                li{
                    margin-left: 15px;
                    cursor: pointer;
                    width: fit-content;
                    height: 48px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:last-child{
                        position: relative;

                        .live-sign{
                            border-radius: 50%;
                            width: 12px;
                            height: 12px;
                            position: absolute;
                            right: -5px;
                            top: 5px;

                        }

                        .online{
                            background-color: red;
                            animation: appearDisappear 1.5s linear infinite;
                        }
                        .offline{
                            background-color: red;
                        }

                        @keyframes appearDisappear {
                            0%, 100% {
                              opacity: 1; /* Start and end with full opacity */
                            }
                            50% {
                              opacity: 0; /* Disappear at the midpoint of the animation */
                            }
                          }
                          
                    }

                    a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        padding: 15px 12px;
                        color: white;
                        transition: all 0.3s ease-in-out;
                        font-size: 0.95em;
                        position: relative;
                        overflow: hidden;

                        &::before{
                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 2px;
                            left: -100%;
                            bottom: 0;
                            background: white;
                            transition: left 0.2s ease-in;
                            border-radius: 10px;

                        }

                        &:hover{
                            &::before{
                                left: 0;
                            }
                        }

                        i{
                            margin-right: 7px;
                            font-size: 1.3em;
                        }
                    }

                    .active-link{
                        background-color: white;
                        border-radius: 5px;
                        color: var(--project-primary-color);
                        text-shadow: 0px 0px 3px rgb(255 0 0 / 32%);
                        padding: 7px 12px;
                    }
                }
            }

            .get-involved{
                background-color: var(--project-primary-color);
                color: white !important;
                padding: 10px 20px !important;
                margin-left: 60px;
                border-radius: 7px !important;
                border: 2px solid var(--project-secondary-color);
                cursor: pointer;
                
                &:hover{
                    background-color: var(--project-primary-color) !important;
                    border: 2px solid transparent;
                }
                
                .pi{
                    margin-left: 10px;
                    font-size: 0.96rem;
                }
                
            }

            .get-involved-menu{
                box-shadow: none ;
                top: 96px !important;

                ul{
                    flex-direction: column;
                    align-items: flex-start;

                    li{
                        width: 100%;

                        a {
                            text-shadow: none;
                            border-radius: 0;
                            width: 100%;
                            justify-content: flex-start;

                            &::before{
                                background: var(--project-primary-color);
                            }

                            &:hover{
                                background-color: white !important;
                                color: black !important;

                                .p-menuitem-icon,
                                .p-menuitem-text
                                {
                                    color: black !important;
                                    font-weight: bold;
                                }
                            }

                            .p-menuitem-icon{
                                font-size: 1.3rem;
                                margin-right: 12px;
                            }

                            .p-menuitem-text{
                                line-height: unset;
                            }
                        }
                    }
                }

                .sub-menu-item:hover {
                    background-color: #555; /* Change background color on hover */
                }
            }
        }

        .burger{
            display: none;
        }
    }
}

.mask-nav-small-screen{
    z-index: 1 !important;
    background-color: #191922 ;

    .nav-small-screen{
        height: 100%;
        max-height: 100% !important;
        width: 100%;
        margin: 0 !important;
        padding-top: 6em;

        .p-dialog-header{
            display: none;
        }
    
        .p-dialog-content{
            height: 100%;
            border-radius: 0 !important;
            background-color: unset ;

        }
    
        app-nav-small-screen{
            width: 100%;
            overflow: hidden;
            height: 100%;
        }
    }
}


@media all and (max-width: 1244px){
    header{
        .content{
            nav{
                ul{
                    li{
                        margin-left: 13px;
                    }
                }
                .get-involved{
                    margin-left: 40px;
                }
            }
        }
    }
}

@media all and (max-width: 1125px){
    header{
        .content{

            .logo{
                font-size: 1.7rem;
                letter-spacing: -2px;
            }

            nav{
                ul{
                    li{
                        margin-left: 13px;
                        a{
                            font-size: 0.87rem;
                        }
                    }
                }
                .get-involved{
                    margin-left: 26px;
                }
            }
        }
    }
}

@media all and (max-width: 990px){
    header{
        height: 6rem;
        .content{
            nav{
                display: none;
            }

            .burger{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                z-index: 10;
                height: 40px;  
                width: 40px;    
                padding: 5px;     
                cursor: pointer; 
                
                span{
                    width: 30px;
                    height: 2px;
                    background: white;
                    border-radius: 3px;
                    transform-origin: 0% 100%;
                    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
                }
            }

            .show-cross{
                span:nth-last-child(1){
                    transform: rotate(-45deg) translate(3.5px, 3.5px);
                }

                span:nth-last-child(2){
                    opacity: 0;                
                }

                span:nth-last-child(3){
                    transform: rotate(45deg) translate(2px, -4px);
                }
            }
        }
    }
}

@media all and (max-width: 375px){
    header{
        .content{
            .logo{
                font-size: 1.5rem;
            }
        }
    }
}


    
