.program-banner {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5rem;

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h2 {
            display: flex;
            flex-direction: column;
            color: var(--project-primary-color);

            span {
                font-weight: 900;
                font-size: 3rem;
                letter-spacing: -1px;
                line-height: 1;

                &:first-child {
                    -webkit-text-stroke: 2px var(--project-blue-primary-color);
                    color: transparent;
                }

                &:last-child {
                    color: var(--project-blue-primary-color);
                }
            }
        }

        .description-action {
            display: flex;
            flex-direction: column;
            gap: 3rem;

            p {
                width: 100%;
                color: var(--project-font-black);
                line-height: 1.5;
                font-size: 1rem;
            }

            ul {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 1rem;
                justify-content: space-between;
                list-style: none;
                /* Ajout pour enlever les puces */

                li {
                    padding: 1rem 1rem 2rem 1rem;
                    border: 1px solid var(--project-black-primary-color);
                    border-radius: 7px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: var(--project-blue-tertiary-color);
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;


                    /* Styles spécifiques pour le bento box */
                    &:nth-child(1) {
                        /* EDUCATION */
                        grid-column: span 2;
                        grid-row: span 1;
                    }

                    &:nth-child(2) {
                        /* SECURITE */
                        grid-column: span 1;
                        grid-row: span 1;
                    }

                    &:nth-child(3) {
                        /* DEVOIR MEMOIRE */
                        grid-column: span 1;
                        grid-row: span 2;
                    }

                    &:nth-child(4) {
                        /* SANTE */
                        grid-column: span 1;
                        grid-row: span 1;
                    }

                    &:nth-child(5) {
                        /* ECONOMIE */
                        grid-column: span 2;
                        grid-row: span 1;
                    }

                    &:hover {
                        background-color: var(--project-yellow-secondary-color);
                    }

                    .top {
                        display: flex;
                        flex-direction: column;

                        h3 {
                            margin-bottom: 20px;
                            font-size: 1.3rem;
                            padding-right: 60px;
                            width: 100%;
                            font-weight: 900;
                        }

                        .texts {
                            display: flex;
                            flex-direction: column;
                            gap: 0.5rem;

                            p {
                                line-height: 1.5;
                                font-size: 1rem;
                            }
                        }
                    }

                    a {
                        display: flex;
                        gap: 0.7rem;
                        font-weight: 800;
                        font-style: italic;
                        font-size: 14px;
                        margin-top: 30px;
                        text-decoration: none;
                        color: black;
                        padding: 8px 15px;
                        border-radius: 5px;
                        width: fit-content;
                        align-items: center;

                        &:hover {
                            background-color: var(--project-blue-secondary-color);
                        }
                    }
                }
            }

            button {
                display: flex;
                align-items: center;
                padding: 10px 20px;
                color: var(--project-black-primary-color);
                background-color: white;
                border: 2px solid var(--project-black-primary-color);
                width: fit-content;
                border-radius: 5px;
                cursor: pointer;
                position: relative;
                overflow: hidden;
                flex-wrap: nowrap;
                box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
                margin-top: 1rem;

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    background-color: var(--project-yellow-primary-color);
                    left: -100%;
                    transition: left 0.2s ease-in-out;
                }

                &:hover {
                    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
                    color: var(--project-black-primary-color) !important;

                    &::before {
                        left: 0;
                    }

                    span {
                        z-index: 1;
                    }

                    i {
                        transform: rotate(45deg);
                    }
                }

                span {
                    font-size: 1rem;
                    white-space: nowrap;
                    font-weight: 600;
                }

                i {
                    margin-left: 7px;
                    font-size: 1.2rem;
                    transition: all 0.2s ease-out;
                }
            }
        }
    }
}


@media all and (max-width: 1060px) {
    .program-banner {
        margin-top: 4rem;

        .content {
            h2 {
                span {
                    font-size: 2.5rem;
                }
            }

            .description-action {
                ul {
                    grid-template-columns: repeat(2, 1fr);

                    li {

                        /* Styles spécifiques pour le bento box sur tablettes */
                        &:nth-child(1) {
                            /* EDUCATION */
                            grid-column: span 1;
                        }

                        &:nth-child(2) {
                            /* SECURITE */
                            grid-column: span 1;
                        }

                        &:nth-child(3) {
                            /* ECONOMIE */
                            grid-column: span 2;
                        }

                        &:nth-child(4) {
                            /* SANTE */
                            grid-column: span 1;
                        }

                        &:nth-child(5) {
                            /* DEVOIR MEMOIRE */
                            grid-column: span 1;
                        }

                        .top {
                            h3 {
                                font-size: 1.25rem;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media all and (max-width: 580px) {
    .program-banner {
        margin-top: 4rem;

        .content {
            h2 {
                span {
                    font-size: 1.8rem;
                }
            }

            .description-action {
                ul {
                    /* Sur les très petits écrans, tous les éléments sont sur une seule colonne */
                    grid-template-columns: repeat(1, 1fr);

                    li {

                        /* On réinitialise les spans pour que tous les éléments prennent une seule colonne */
                        &:nth-child(1),
                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4),
                        &:nth-child(5) {
                            grid-column: span 1;
                            grid-row: span 1;
                        }

                        .top {
                            h3 {
                                font-size: 1.15rem;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}