<div class="program-banner">
    <div class="content my-container">
        <h2>
            <span>Découvrez</span>
            <span>Notre Programme Pour Le Sénégal</span>
        </h2>

        <div class="description-action">
            <p>
                 Je suis convaincu que vivre dans une paix véritable nous prédispose à relever le défi du développement et de garantir une prospérité partagée par l’ensemble des Sénégalaises et des Sénégalais. Nous nous y engageons avec la ferme conviction qu’ensemble nous ferons de ce rêve une réalité. Le Sénégal a besoin des contributions de chacune et de chacun de ses enfants pour continuer à rayonner l’esprit dynamique et vivant de la Téranga dans le monde.
            </p>
            <button routerLink="/le-programme">
                <span>Consulter Tout Le Programme</span>
                <i class="pi pi-arrow-up-right"></i>
            </button>
        </div>
    </div>
</div>
