<div class="program-banner">
    <div class="content my-container">
        <h2>
            <span>DÉCOUVREZ</span>
            <span>NOTRE PROGRAMME POUR LE CAMEROUN</span>
        </h2>

        <div class="description-action">
            <p>
                Je suis convaincu que vivre dans une paix véritable nous prédispose à relever le défi du développement
                et de garantir une prospérité partagée par l’ensemble des camerounaises et des camerounais. Nous nous y
                engageons avec la ferme conviction qu’ensemble nous ferons de ce rêve une réalité.
            </p>
            <ul>
                @for (figth of figths; track $index) {
                <li data-aos="fade-up" [attr.data-aos-delay]="200*$index" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
                    <div class="top">
                        <h3>{{figth.title}}</h3>
                        <div class="texts">
                            @for (text of figth.texts; track $index) {
                                <p [innerHTML]="text"> </p>
                            }
                        </div>
                    </div>
                </li>
                }
            </ul>
            <button routerLink="/le-programme">
                <span>Consulter Tout Le Programme</span>
                <i class="pi pi-arrow-up-right"></i>
            </button>
        </div>
    </div>
</div>