<div class="about-candidate">
    <img class="african-icons" ngSrc="../../../../../../../assets/img/home/about/about-bg.webp" width="100" height="80"
        alt="African Icons">
    <div class="content my-container">
        <div class="top">
            <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
                NOTRE MISSION EST DE RÉVEILLER L’ESPOIR DES CAMEROUNAIS PAR UNE ÉDUCATION LIBÉRÉE, UNE CULTURE AFFIRMÉE
                ET UNE SOUVERAINETÉ NATIONALE RETROUVÉE. 
            </h2>
            <ul class="networks">
                @for (network of networks; track $index) {
                    <li [attr.data-aos-delay]="200*$index" data-aos="fade-left" data-aos-duration="600">
                        <a href={{network.link}} target="_blank" [attr.aria-label]="network.name">
                            <fa-icon [icon]="network.icon | convertStringLabelToFontawesomeIcon"></fa-icon>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="bottom">
            <div class="image-wrapper">
                <img ngSrc="../../../../../../../assets/img/home/about/a-propos-de-serge-espoir-matomba.webp"
                    alt="À propos de Serge Espoir Matomba" fill>
            </div>
            <div class="about">
                <h3>
                    <span>À propos de</span>
                    <span>Serge Espoir MATOMBA</span>
                </h3>
                <p>
                    Entrepreneur précoce, Serge Espoir Matomba a fondé plusieurs entreprises au Cameroun et à l'étranger
                    avant de se lancer en politique avec la création du Peuple Uni pour la Rénovation Sociale (PURS) en
                    2010. Élu Conseiller municipal, il s'est distingué par son activisme, notamment une grève de la faim
                    et ses prises de position fermes sur la crise anglophone et la démission du président Paul Biya.
                    Candidat aux élections présidentielles de 2018 et 2025, il prône une souveraineté économique du
                    Cameroun, incluant la sortie du Franc CFA. Son engagement et son dynamisme ont été maintes fois
                    récompensés par des distinctions nationales.
                </p>
                <button data-aos="fade-left" data-aos-duration="1000" routerLink="/le-candidat">En Apprendre Plus Sur Le Candidat</button>
            </div>
        </div>
    </div>
</div>