<div class="about-candidate">
    <div class="content my-container">
        <div class="top">
            <h3 >
                NOTRE MISSION EST DE CONSOLIDER LES ACQUIS ET AVANCER DANS LE PLAN SÉNÉGAL ÉMERGENT 2035
            </h3>
            <div class="right">
                <p>Restez à l'affut des dernières actualités de la campagne en nous suivant sur nos réseaux</p>
                <div class="networks">
                    <ng-container *ngFor="let network of networks">
                        <a href={{network.link}} target="_blank" data-aos="fade-left" data-aos-duration="1000">
                            <img src={{network.sourceImg}} alt={{network.name}}>
                        </a>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="image">
                
            </div>
            <div class="about">
                <h4>
                    <span>À propos de</span>
                    <span>Amadou BÂ</span>
                </h4>
                <p>Economiste de formation, Amadou Bâ est un Inspecteur principal des Impôts et des Domaines de classe exceptionnelle. Il est aussi Professeur associé à l’Ecole nationale d’Administration (ENA) et au Centre de formation de la BCEAO (Banque centrale des Etats de l’Afrique de l’ouest). Ayant gravi tous les échelons de l’Administration fiscale, il dirige la Direction générale des Impôts et des Domaines de 2006 à 2013. Durant cette période, il apporte de grandes réformes qui conduisent à la modernisation du service...</p>
                <button routerLink="/le-candidat">En Apprendre Plus Sur Le Candidat</button>
            </div>
        </div>
    </div>
</div>
