.live-video-player {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;

    &::before {
        content: "";
        width: 100%;
        height: 34rem;
        position: absolute;
        background-color: var(--project-blue-secondary-color);
        z-index: -1;
    }

    .content {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 12rem;

        .live-bloc {
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 3rem;

            h1 {
                text-align: center;
                color: var(--project-black-primary-color);
                font-weight: 900;
                font-size: 3rem;
                line-height: 1;
                letter-spacing: -1;
                max-width: 900px;
            }

            .live {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                height: 430px;
                overflow: hidden;
                border: green;
                width: 100%;
                max-width: 1000px;

                .pi {
                    font-size: 4em;
                    margin-bottom: 15px;
                }

                p {
                    text-align: center;
                    font-size: 1.05em;
                    font-weight: 100;
                }
            }
        }
    }
}

@media all and (max-width: 1024px) {
    .live-video-player {
        &::before {
            height: 32rem;
        }

        .content {
            padding-top: 10rem;

            .live-bloc {
                h1 {
                    font-size: 2.5rem;
                }
            }
        }
    }
}

@media all and (max-width: 768px) {
    .live-video-player {
        &::before {
            height: 29rem;
        }

        .content {
            .live-bloc {

                h1 {
                    font-size: 1.8rem;
                }

                .live {
                    height: 375px;
                }
            }
        }
    }
}

@media all and (max-width: 425px) {
    .live-video-player {
        &::before {
            height: 23rem;
        }

        .content {
            padding-top: 8rem;

            .live-bloc {

                .live {
                    height: 228px;
                }
            }
        }
    }
}