.contact-form{
    display: flex;
    justify-content: center;

    .custom-toast{
        z-index: 999999999 !important;
    }
    
    .content{
        display: flex;
        flex-direction: column;
        width: 100%;
        color: var(--project-font-black);

        .texts-form{
            display: flex;
            justify-content: space-between;
            margin-top: 7rem;

            .texts{
                display: flex;
                flex-direction: column;
                width: 610px;

                h3{
                    position: relative;
                    padding: 10px 0 10px 25px;
                    font-size: 2.5rem;
                    margin-bottom: 30px;

                    &::before{
                        content: "";
                        position: absolute;
                        width: 7px;
                        height: 100%;
                        background-color: var(--project-primary-color);
                        border-radius: 10px;
                        left: 0;
                        top: 0;
                    }
                }

                p{
                    line-height: 27px;
                    font-size: 1.01rem;
                    margin-bottom: 7px;
                }

                .contact-ways{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-top: 25px;

                    .contact-way{
                        display: flex;
                        align-items: center;
                        width: 100%;
                        margin-bottom: 10px;

                        fa-icon{
                            font-size: 1.5rem;
                            color: white;
                            font-weight: 300;
                            margin-right: 15px;
                            padding: 15px 17px;
                            background-color: var(--project-font-black);
                            border-radius: 50%;
                        }

                        .infos{
                            p{
                                font-weight: 300;
                                width: 100%;
                                &:first-child{
                                    font-size: 1.5rem;
                                    color: var(--project-primary-color);
                                    margin-bottom: 0;
                                }

                                &:last-child{
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }

                .networks-bloc{
                    display: flex;
                    justify-content: space-between;
                    border-top: 1px solid #1d1d1d;
                    width: 100%;
                    font-size: 1.1rem;
                    padding-top: 25px;
                    margin-top: 35px;

                    span{
                        font-size: 1.2rem;
                        font-weight: 300;
                    }

                    .networks{
                        display: flex;
                        height : fit-content;
                        align-items: center;
        
                        .network{
                            margin-left: 10px;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            transition: all 0.2s ease-in-out;
                            padding: 10px;
                            border-radius: 50%;
                            background-color: var(--project-font-black);


                            &:hover{
                                background-color: var(--project-primary-color);
                            }
        
                            img{
                                object-fit: cover;
                                object-position: center;
                                width: 17px;
                            }
                        }
                    }
                }
            }

            form{
                width: 500px;
                border-radius: 10px;
                background-color: white;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: fit-content;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

                .input-bloc{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 25px;   

                    label{
                        margin-bottom: 5px;
                        font-size: 0.85rem;
                        font-weight: 550;
                    }
    
                    input{
                        width: 100%;
                        height: 37px;
                        background-color: var(--project-secondary-color);
                        border: 1px solid #94928a;
                        padding: 7px 10px;
                    }

                    textarea{
                        max-width: 100%;
                        min-width: 100%;
                        width: 100%;
                        background-color: var(--project-secondary-color);
                        border: 1px solid #94928a;
                        border-radius: 7px;
                        padding: 7px 10px;
                        height: 150px;
                        min-height: 150px;
                    }
                }

                .row-two{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    .input-bloc{
                        width: 47%;
                    }
                }

                .row-one{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    .input-bloc{
                        width: 100%;
                    }
                }
    
                button{
                    display: flex;
                    align-items: center;
                    padding: 10px 25px;
                    color: white;
                    background-color: var(--project-primary-color);
                    border: none;
                    width: fit-content;
                    cursor: pointer;
    
                    &:hover{
    
                        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;                         
                        
                        i{    
                                transform: rotate(45deg);
                        }
                    }
    
                    span{
                        font-size: 1rem;
                    }
    
                    i{
                        margin-left: 7px;
                        font-size: 1.2rem;
                        transition: all 0.2s ease-out;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1212px){
    .contact-form{
        .content{
            .texts-form{
                margin-top: 5rem;
                .texts{
                    width: calc(100% - 600px);
                }
            }
        }
    }
}

@media all and (max-width: 1125px){
    .contact-form{
        .content{
            .texts-form{
                margin-top: 5rem;

                .texts{
                    width: calc(100% - 500px);

                    h3{
                        font-size: 2.1rem;
    
                        &::before{
                            width: 6px;
                        }
                    }

                    p{
                        line-height: 23px;
                        font-size: 15px;
                    }

                    .contact-ways{
                        .contact-way{
                            fa-icon{
                                font-size: 1.3rem;
                                padding: 10px 12px;
                            }

                            .infos{
                                p{
                                    &:first-child{
                                        font-size: 1.3rem;
                                    }

                                    &:last-child{
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                    }

                    .networks-bloc{
                        span{
                            font-size: 15px;
                        }

                        .networks{
                            .network{
                                padding: 6px;

                                img{
                                    width: 15px;
                                }
                            }
                        }
                    }
                }

                form{
                    padding: 1.5rem;
                    width: 450px;

                    .row-two{
                        .input-bloc{
                            width: 49%;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 970px){
    .contact-form{
        .content{
            .texts-form{
                margin-top: 4rem;
                flex-direction: column;

                .texts{
                    width: 100%;

                    h3{
                        font-size: 2.1rem;
                        text-align: center;
                        width: 100%;
                        margin-bottom: 60px;

                        &::before{
                            width: 150px;
                            height: 5px;
                            top: unset;
                            bottom: -10px;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }

                    p{
                        text-align: center;
                    }

                    .contact-ways{
                        justify-content: center;
                        flex-direction: row;
                        flex-wrap: wrap;
                        width: 100%;

                        .contact-way{
                            flex-direction: column;
                            width: fit-content;
                            margin: 0 15px;
                            
                            fa-icon{
                                font-size: 1.3rem;
                                padding: 10px 12px;
                                margin-right: 0;
                                margin-bottom: 7px;
                            }

                            .infos{
                                p{
                                    &:first-child{
                                        font-size: 1.3rem;
                                    }

                                    &:last-child{
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                    }

                    .networks-bloc{
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                        .networks{
                            margin-top: 10px;

                            .network{
                                padding: 8px;
                                margin: 0 5px;

                                img{
                                    width: 17px;
                                }
                            }
                        }
                    }
                }

                form{
                    margin-top: 30px;
                    padding: 1.5rem;
                    width: 100%;

                    .row-two{
                        .input-bloc{
                            width: 49%;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 530px){
    .contact-form{
        .content{
            .texts-form{
                .texts{
                    h3{
                        font-size: 2rem;
                    }

                    .contact-ways{
                        margin-top: 0;

                        .contact-way{
                            margin-top: 20px;


                            fa-icon{
                                font-size: 1.2rem;
                            }

                            .infos{
                                p{
                                    &:first-child{
                                        font-size: 1.2rem;
                                    }

                                    &:last-child{
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }

                    .networks-bloc{
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                        .networks{
                            margin-top: 10px;

                            .network{
                                padding: 8px;
                                margin: 0 5px;

                                img{
                                    width: 17px;
                                }
                            }
                        }
                    }
                }

                form{
                    margin-top: 30px;
                    padding: 1.5rem;
                    width: 100%;

                    .row-two{
                        flex-direction: column;

                        .input-bloc{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 425px){
    .contact-form{
        .content{
            .texts-form{
                margin-top: 3rem;

                .texts{
                    h3{
                        font-size: 1.8rem;
                    }
                }

                form{
                    padding: 1.5rem 1rem;
                }
            }
        }
    }
}