<div class="campain-ambassador-process">
    <div class="content my-container">
        <h1>Comment ça marche ?</h1>

        <div class="process-bloc">
            <div class="process">
                <div class="top">
                    <span>1</span>
                    <span>Inscription</span>
                </div>
                <span>L'inscription en tant qu'ambassadeur de campagne se fait simplement en renseignant et soumettant le formulaire ci-avant.</span>
            </div>


            <div class="process">
                <div class="top">
                    <span>2</span>
                    <span>Réception d'Instructions</span>
                </div>
                <span>Une fois inscrit, nous vous enverrons périodiquement des e-mails contenant des instructions et des ressources à partager sur vos réseaux sociaux.</span>
            </div>

            <div class="process">
                <div class="top">
                    <span>3</span>
                    <span>Publication Sur Les Réseaux</span>
                </div>
                <span>Vous partagez les ressources reçues (montages d'images, citations, des vidéos et d'autres contenus pertinants) sur vos réseaux, nous permettant ainsi de sensibiliser le plus de personnes à nos idées et à notre vision pour l'avenir.</span>
            </div>
        </div>
    </div>
</div>
