<div class="program-bloc">
    <div class="content my-container">
        <div class="texts">
            <h2>Découvrez Notre Projet Sociétal Pour Le Sénégal </h2>
            <p>
                Notre programme est le fruit d’une vision réfléchie, qui combine dans sa conception et son élaboration, l’intelligence des leaders et cadres de notre Coalition, l’apport des experts du Sénégal, issus de l’administration, du secteur privé et de la société civile.
            </p>
            <p>
                Notre programme a une seule finalité : <span>la prospérité pour toutes et tous</span>, <span>la prospérité partagée</span>. Il a une source et une destination ultime : la paix véritable pour asseoir une société ancrée dans ses valeurs profondes mais ouverte vers l’avenir pour garantir une cohésion sociale et mieux faire face aux turbulences d’une société en évolution permanente.
            </p>

            <div class="buttons">
                <a href="../../../../../../../assets/pdf/program/programme-amadou-ba-integral.pdf" download="Programme-Amadou-Ba-Integral-Senegal-2024.pdf" class="download">
                    <span>Télécharger le programme</span>
                    <i class="pi pi-download"></i>
                </a>
                <a href="https://prosperitepartagee.sn/notre-programme/" target="_blank" class="view">
                    <span>
                        Consulter le programme
                    </span>
                    <i class="pi pi-arrow-up-right"></i>
                </a>
            </div>
        </div>
        <img src="../../../../../assets/img/program/plan-de-travail.png" alt="programme du candidat Amadou Bâ">
    </div>
</div>