<div class="program-bloc">
    <div class="content my-container">

        <div class="introduction">
            <div class="header-networks">
                <h2>La Rupture</h2>

                <button>Télécharger le résumé du programme</button>
            </div>
            <P>
                Serge Espoir MATOMBA propose un projet de société fondé sur la souveraineté nationale, la justice sociale, la refondation de l’État ainsi que l’affirmation de l’identité et la diversité camerounaise. Il souhaite bâtir un Cameroun autonome, équitable, culturellement riche, inclusif et durable, affranchi des tutelles néocoloniales. L'objectif est claire : un toi sur votre tête, trois repas par jour dans votre assiette, l'éducation et la santé vos droits. Le projet s'inscrit dans une volonté de décolonisation totale du continent, appuyée sur une renaissance culturelle, économique, portée par des insititutions responsables.
            </P>
        </div>
    </div>
</div>