<div class="campain-ambassador-banner">
    <div class="content my-container">

        <div class="hero">
            <div class="texts" data-aos="fade-right" data-aos-duration="700">
                <h1>
                    <span>Devenez Un</span>
                    <span>Ambassadeur De Campagne</span>
                    <span>Engagé</span>
                </h1>
                <div class="ambassador-numer">
                    <span data-aos="fade-down" data-aos-delay="500">+ 35K</span>
                    <span>Personnes inscrites</span>
                </div>

                <button (click)="scrollToAnchor()">
                    <span>Je soutiens mon candidat</span>
                    <i class="pi pi-arrow-up-right"></i>
                </button>
            </div>
    
            <img src="../../../../../../assets/img/campain-ambassador/background.jpeg" alt="Amadou BÂ" data-aos="fade-left" data-aos-duration="700">
        </div>

        <div class="intro">
            <h2>Vous croyez en notre candidat et en son programme pour un avenir meilleur ?</h2>
            <p>Alors, il est temps de passer à l'action ! Devenez un Ambassadeur de Campagne et hissez notre vision au sommet. Enregistrez-vous avec votre adresse e-mail et rejoignez une communauté de citoyens passionnés. Ensemble, nous pouvons faire entendre notre voix, partager nos idées et inspirer le changement. En tant qu'ambassadeur, vous serez au cœur de notre campagne, diffusant nos messages sur vos réseaux sociaux. Soyez le moteur du progrès, rejoignez-nous aujourd'hui</p>
        </div>

    </div>


</div>
