<div class="ambassador-banner">
    <div class="content my-container">
        <div class="bloc">
            <div class="text">
                <h3>
                    <span>Devenez</span>
                    <span data-aos="fade-bottom" data-aos-duration="1000">Ambassadeur De Campagne</span>
                </h3>
                <p> {{ambassadorBanner.text}} </p>
                <button routerLink="/devenir-ambassadeur-de-campagne" data-aos="fade-right" data-aos-duration="500">
                    <span>S'inscrire</span>
                    <i class="pi pi-arrow-up-right"></i>
                </button>
            </div>
            <img src={{ambassadorBanner.image}} alt={{ambassadorBanner.alt}} data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="700">
        </div>
    </div>
</div>
