.campain-ambassador-form{
    display:flex;
    justify-content: center;
    width: 100%;
    padding-top: 8rem;

    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--project-primary-color);
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 10px;
        width: 1000px;
        padding: 30px;

        img{
            width: 400px;
            height: 100%;
            object-fit: cover;
            object-position: top center;
        }

        .custom-toast{
            z-index: 9999999 !important;
        }

        .form-bloc{
            height: 100%;      
            width: 100%;

            form{
                height: 100%;      
                width: 100%;
                background-color: white;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                .input-bloc{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 25px;
                    width: 100%;
    
                    label{
                        margin-bottom: 5px;
                        font-size: 0.85rem;
                        font-weight: 550;
                        color: #333333;
                    }
    
                    input{
                        width: 100%;
                        height: 37px;
                        background-color: var(--project-secondary-color);
                        border: 1px solid #94928a;
                        padding: 7px 10px;
                    }
                }
    
                button{
                    display: flex;
                    align-items: center;
                    padding: 10px 25px;
                    color: white;
                    background-color: var(--project-primary-color);
                    border: none;
                    width: fit-content;
                    cursor: pointer;
    
                    &:hover{
    
                        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;                         
                        
                        i{    
                                transform: rotate(45deg);
                        }
                    }
    
                    span{
                        font-size: 1rem;
                    }
    
                    i{
                        margin-left: 7px;
                        font-size: 1.2rem;
                        transition: all 0.2s ease-out;
                    }
                }
            }
        }
        
    }
}

@media all and (max-width: 1024px){
    .campain-ambassador-form{
        padding-top: 4rem;
    
        .content{
            border-radius: 0;
            width: 100%;
            padding: 20px;
            background-color: unset;
            img{
                width: 290px;
            }
            .form-bloc{
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            }
        }
    }  
}

@media all and (max-width: 675px){
    .campain-ambassador-form{
        padding-top: 4rem;
    
        .content{
            flex-direction: column;
            height: fit-content;
            
            img{
                width: 100%;
                height: 450px;
            }

            .form-bloc{
                width: 100%;
                margin-left: 0;
                height: fit-content;
            }
        }
    }  
}

@media all and (max-width: 425px){
    .campain-ambassador-form{
        padding-top: 3rem;
        
        .content{
            flex-direction: column;
            height: fit-content;
            padding: unset;
            
            img{
                width: 100%;
                height: 350px;
            }
        }
    }  
}