<div id="ambassador-campain-form" class="campain-ambassador-form">
    <div class="content my-container">
        <div class="image-wrapper">
            <img src="../../../../../../assets/img/campain-ambassador/serge-espoir-matomba-remerciements.jpeg"
                alt="Amadou BÂ">
        </div>

        <div class="form-bloc">
            <form [formGroup]="campainAmbassadorForm" (submit)="onCampainAmbassadorForm()">
                <div class="input-bloc">
                    <label>Nom</label>
                    <input pInputText formControlName="lastname" type="text" placeholder="Entrez votre nom">
                    <small *ngIf="formControls['lastname'].invalid && isFormSubmitted " class="error-feedback">Nom
                        manquant</small>
                </div>

                <div class="input-bloc">
                    <label>Prénom</label>
                    <input pInputText formControlName="firstname" type="text" placeholder="Entrez votre prénom">
                    <small *ngIf="formControls['firstname'].invalid && isFormSubmitted " class="error-feedback">Prénom
                        manquant</small>
                </div>

                <div class="input-bloc">
                    <label>Email</label>
                    <input pInputText formControlName="email" type="text" placeholder="Entrez votre email">
                    <small *ngIf="formControls['email'].invalid && isFormSubmitted" class="error-feedback">Adresse mail
                        manquante</small>
                </div>

                <div class="phone-bloc">
                    <label>Téléphone</label>
                    <div class="phone-input-bloc">
                        <p-dropdown formControlName="selectedCountry" [options]="COUNTRY_FLAGS_AND_DIAL_CODES"
                            optionLabel="flag">
                            <ng-template pTemplate="selectedItem" let-selectedItem>
                                <img [ngSrc]="selectedItem.flagUrl" alt="{{selectedItem?.name}} flag" width="30"
                                    height="22" />
                            </ng-template>

                            <ng-template let-country pTemplate="item">
                                <div class="country">
                                    <img [ngSrc]="country.flagUrl" alt="{{country.name}} flag" width="25" height="17" />
                                    <p> {{country.name}} ({{country.code}}) ({{country.dialCode}})</p>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        <p>({{campainAmbassadorForm.controls['selectedCountry'].value?.dialCode}})</p>
                        <input pInputText type="text" formControlName="phone" placeholder="Entrez votre téléphone" />
                    </div>
                    <small *ngIf="formControls['phone'].invalid && isFormSubmitted" class="error-feedback">Renseignez le
                        numéro de téléphone</small>

                </div>

                <div class="input-bloc">
                    <label>Ville</label>
                    <input pInputText formControlName="town" type="text" placeholder="Entrez votre ville">
                    <small *ngIf="formControls['town'].invalid && isFormSubmitted" class="error-feedback">Renseignez
                        votre ville</small>
                </div>

                <button type="submit" data-aos="fade-bottom" data-aos-duration="700">
                    <ng-container *ngIf="iscampainAmbassadorFormSubmittedAndNotErrorOnClientSide; else defaultText">
                        <p-progressSpinner [style]="{width: '20px', height: '20px'}"
                            strokeWidth="8"></p-progressSpinner>
                    </ng-container>
                </button>
            </form>
            <ng-template #defaultText>Je m'implique</ng-template>
            <p-toast [styleClass]="'custom-toast'" position="top-right"></p-toast>
        </div>
    </div>
</div>