<div id="ambassador-campain-form" class="campain-ambassador-form">
    <div class="content my-container">
        <img src="../../../../../../assets/img/campain-ambassador/amadou-bâ.jpeg" alt="Amadou BÂ">
        <div class="form-bloc">
            <form [formGroup]="campainAmbassadorForm" (submit)="onCampainAmbassadorForm()">
                <div class="input-bloc">
                    <label>Nom</label>
                    <input formControlName="lastname" type="text" placeholder="Entrez votre nom">
                    <small *ngIf="formControls['lastname'].invalid && isFormSubmitted " class="error-feedback">Nom manquant</small>
                </div>
    
                <div class="input-bloc">
                    <label>Prénom</label>
                    <input formControlName="firstname" type="text" placeholder="Entrez votre prénom">
                    <small *ngIf="formControls['firstname'].invalid && isFormSubmitted " class="error-feedback">Prénom manquant</small>
                </div>
    
                <div class="input-bloc">
                    <label>Email</label>
                    <input formControlName="email" type="text" placeholder="Entrez votre email">
                    <small *ngIf="formControls['email'].invalid && isFormSubmitted" class="error-feedback">Adresse mail manquante</small>
                </div>
    
                <div class="input-bloc">
                    <label>Ville</label>
                    <input formControlName="town" type="text" placeholder="Entrez votre ville">
                    <small *ngIf="formControls['town'].invalid && isFormSubmitted" class="error-feedback">Renseignez votre ville</small>
                </div>
    
                <button type="submit" data-aos="fade-bottom" data-aos-duration="700">
                    <ng-container *ngIf="iscampainAmbassadorFormSubmittedAndNotErrorOnClientSide; else defaultText">
                        <p-progressSpinner [style]="{width: '20px', height: '20px'}" strokeWidth="8"></p-progressSpinner>
                    </ng-container>
                </button>
            </form>
            <ng-template #defaultText>Je m'implique</ng-template>
            <p-toast  [styleClass]="'custom-toast'" position="top-right"></p-toast>     
        </div>
    </div>
</div>
