<div class="replay-menu-list">
    <div class="content my-container">
        <h2>
            <span>Accédez Aux</span>
            <span>Replays Des Émissions Précédentes</span>
        </h2>

        <div class="menu-list">
            @for (replayMenu of replayMenuList; track $index) {
            <button [ngClass]="replayMenu.isActive ? 'active':''"
                (click)="getReplayListByReplayCategoryId(replayMenu.playlistId, $index)">
                {{replayMenu.title}}
            </button>
            }
        </div>
    </div>
</div>