<footer>
    <div class="content my-container">
        <div class="top">
            <div class="logo-networks-apps-blocs">
                <img ngSrc="../../../../assets/img/header/logo-black.webp" alt="Serge Espoir Matomba" width="220" height="80">
                <p>Bâtissons ensemble un Cameroun libre, autonome et juste. Notre programme est fondé sur la
                    souveraineté nationale, la refondation de l'État, une économie forte et une identité retrouvée
                    pour tous les Camerounais.
                </p>
                <ul class="networks">
                    @for (network of networks; track $index) {
                        <li>
                            <a href={{network.link}} target="_blank" data-aos="fade-left" [attr.data-aos-delay]="200*$index" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
                                <fa-icon [icon]="network.icon | convertStringLabelToFontawesomeIcon"></fa-icon>
                            </a>
                        </li>
                    }
                </ul>
            </div>

            <div class="inform">
                <h3>S'informer</h3>
                <ul>
                    @for (item of informLinks; track $index) {
                    <li routerLink={{item.link}}> {{item.label}} </li>
                    }
                </ul>
            </div>

            <div class="act">
                <h3>Participer</h3>
                <ul>
                    @for (item of actLinks; track $index) {
                    <li routerLink={{item.link}}> {{item.label}} </li>
                    }
                </ul>
            </div>

            <!--
            <div class="apps">
                <h3>Applications</h3>
                <ul>
                    <ng-container *ngFor="let app of apps">
                        <li>
                            <a href={{app.link}} target="_blank">
                                <img src={{app.sourceImg}} alt={{app.name}}>
                            </a>
                        </li>
                    </ng-container>
                </ul>
            </div>
-->
        </div>
        <div class="bottom">
            <p>© 2025 Serge Espoir MATOMBA</p>
        </div>
    </div>
</footer>