<footer>
    <div class="content my-container">
        <div class="top">
            <div class="logo-networks-apps-blocs">
                <img src="../../../../assets/img/header/logo.png" alt="Amadou Bâ 2024">
                <p>Au service de la nation, Amadou Bâ est fier d'être candidat à l'élection présidentielle de 2024 au Sénégal. Avec une vision audacieuse pour l'avenir, il s'engage à apporter le changement positif dont notre pays a besoin. Ensemble, nous construirons une nation prospère, équitable et résiliante. Rejoignez-moi dans cette aventure pour un Sénégal meilleur pour tous.</p>
                <div class="networks">
                    <ng-container *ngFor="let network of networks">
                        <a href={{network.link}} target="_blank">
                            <img src={{network.sourceImg}} alt={{network.name}}>
                        </a>
                    </ng-container>
                </div>
            </div>

            <div class="inform">
                <h3>S'informer</h3>
                <ul>
                   <ng-container *ngFor="let item of informLinks">
                        <li routerLink={{item.link}}> {{item.label}} </li>
                   </ng-container> 
                </ul>
            </div>

            <div class="act">
                <h3>Participer</h3>
                <ul>
                   <ng-container *ngFor="let item of actLinks">
                        <li routerLink={{item.link}}> {{item.label}} </li>
                   </ng-container> 
                </ul>
            </div>

            <div class="apps">
                <h3>Applications</h3>
                <ul>
                    <ng-container *ngFor="let app of apps">
                        <li>
                            <a href={{app.link}} target="_blank">
                                <img  src={{app.sourceImg}} alt={{app.name}}>
                            </a>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
        <div class="bottom">
            <p>© 2023-2024 Amadou BÂ</p>
        </div>
    </div>
</footer>
