<footer>
    <div class="content my-container">
        <div class="top">
            <div class="logo-networks-apps-blocs">
                <img src="../../../../assets/img/header/logo-black.png" alt="Amadou Bâ 2024">
                <p>Bâtissons ensemble un Cameroun libre, autonome et juste. Notre programme est fondé sur la
                    souveraineté nationale, la refondation de l'État, une économie forte et une identité retrouvée
                    pour tous les Camerounais.
                </p>
                <ul class="networks">
                    @for (network of networks; track $index) {
                        <a href={{network.link}} target="_blank" data-aos="fade-left" data-aos-duration="1000">
                            <fa-icon [icon]="network.icon | convertStringLabelToFontawesomeIcon"></fa-icon>
                        </a>
                    }
                </ul>
            </div>

            <div class="inform">
                <h3>S'informer</h3>
                <ul>
                    <ng-container *ngFor="let item of informLinks">
                        <li routerLink={{item.link}}> {{item.label}} </li>
                    </ng-container>
                </ul>
            </div>

            <div class="act">
                <h3>Participer</h3>
                <ul>
                    <ng-container *ngFor="let item of actLinks">
                        <li routerLink={{item.link}}> {{item.label}} </li>
                    </ng-container>
                </ul>
            </div>

            <div class="apps">
                <h3>Applications</h3>
                <ul>
                    <ng-container *ngFor="let app of apps">
                        <li>
                            <a href={{app.link}} target="_blank">
                                <img src={{app.sourceImg}} alt={{app.name}}>
                            </a>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
        <div class="bottom">
            <p>© 2025 Serge Espoir MATOMBA</p>
        </div>
    </div>
</footer>