<div class="agenda-container">
    <app-secondary-hero [hero]="secondaryHeroBannerData$ | async"></app-secondary-hero>
    <div class="content my-container">
        <h2>
            <span>Cheminons Ensemble</span>
            <span>Durant La Campagne Électorale</span>
        </h2>
        <p>Ne manquez aucun évènement ( <b>meeting, interviews, débats télévisés</b>, ...) de votre candidat <b>Serge Espoir MATOMBA</b>. Retrouvez l'ensemble de son agenda de <b>campagne</b> et suivez de très près sa marche vers la voie de la <b>victoire</b> !</p>
        <div class="datas">
            <div class="left">
                <app-agenda-menu-items [menuList]="(menus$ | async)!" (menuItemClikedEvent)="getEventsByEventTypeId($event)"></app-agenda-menu-items>
                <app-agenda-data-list [events]="(eventsByEventTypes$ | async)!"></app-agenda-data-list>
            </div>
            <app-agenda-data-next [events]="(nextEvents$ | async)!"></app-agenda-data-next>
        </div>
    </div>
</div>
