.navigation-small-screen{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    
    ul{
        display: flex;
        flex-direction: column;
        list-style: none;

        li{
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            a{
                text-decoration: none;
                width: fit-content;
                padding: 7px 25px;
                color: white;
                display: flex;
                align-items: center;
                transition: all 0.3s ease-in-out;
                cursor: pointer;

                &:hover{
                    border-bottom: 1px solid var(--project-primary-color);
                }

                span{
                    font-size: 1em;
                }

            }

            .active-link{
                background-color: var(--project-primary-color);
            }
        }
    }

    .networks-bloc{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 35px;
        padding-bottom: 10px;
        
        p{
            color: white;
        }

        .networks{
            margin-top: 20px;
            display: flex;
            

             a{
                width: 35px;
                height : 35px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--project-primary-color);
                margin-right: 10px;

                &:hover{
                   transform: scale(1.2);
                   box-shadow: rgba(0, 0, 0, 0.499) 0px 54px 55px, rgba(0, 0, 0, 0.247) 0px -12px 30px, rgba(0, 0, 0, 0.24) 0px 4px 6px, rgba(0, 0, 0, 0.348) 0px 12px 13px, rgba(0, 0, 0, 0.185) 0px -3px 5px;
                }

                img{
                    height: 20px;
                    object-fit: cover;
                    object-position: center;
                    margin-bottom: 0;
                }
             }                    
        }
    }
}