<div class="navigation-small-screen">

    <ul class="links">
        <li>
            <a (click)=" onNavigationClicked()" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
                routerLink="/">
                Accueil
            </a>
        </li>
        <li>
            <a (click)=" onNavigationClicked()" routerLinkActive="active-link" routerLink="/le-candidat">
                <span>Votre Candidat</span>
            </a>
        </li>
        <li>
            <a (click)=" onNavigationClicked()" routerLinkActive="active-link" routerLink="/le-programme">
                <span>Le Programme</span>
            </a>
        </li>
        <li>
            <a (click)=" onNavigationClicked()" routerLinkActive="active-link" routerLink="articles">
                <span>Actualité De Campagne</span>
            </a>
        </li>
        <li>
            <a (click)=" onNavigationClicked()" routerLinkActive="active-link" routerLink="agenda">
                <span>Agenda De Campagne</span>
            </a>
        </li>
        <li>
            <a (click)=" onNavigationClicked()" routerLinkActive="active-link" routerLink="/lives">
                <span>Live / Replays</span>
            </a>
        </li>
        <li>
            <a (click)=" onNavigationClicked()" routerLinkActive="active-link"
                routerLink="/devenir-ambassadeur-de-campagne">
                <span>Ambassadeur De Campagne</span>
            </a>
        </li>
        <!--
        <li>
            <a (click)=" onNavigationClicked()" routerLinkActive="active-link" routerLink="/dons">
                <span>Faire Un Don</span>
            </a>
        </li>
-->
        <li>
            <a (click)=" onNavigationClicked()" routerLinkActive="active-link" routerLink="/contact">
                <span>Nous Contacter</span>
            </a>
        </li>

    </ul>

    <div class="networks-bloc">
        <p>Suivez votre candidat sur</p>
        <ul class="networks">
            @for (network of networks; track $index) {
                <li>
                    <a href={{network.link}} target="_blank" data-aos="fade-left" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
                        <fa-icon [icon]="network.icon | convertStringLabelToFontawesomeIcon"></fa-icon>
                    </a>
                </li>
            }
        </ul>
    </div>

</div>