<div class="campain-video">
    <div class="content my-container">
        <div class="image-wrapper">
            <img ngSrc="../../../../../../../assets/img/program/resume-du-programme-du-candidat-serge-espoir-matomba.jpeg"
                fill>
        </div>
        <div class="text" data-aos="fade-left" data-aos-duration="700">
            <h3>
                LIBERTÉ
            </h3>

            <p>
                Serge Espoir MATOMBA propose un projet de société fondé sur la souveraineté nationale, la justice
                sociale, la refondation de l’État ainsi que l’affirmation de l’identité et la diversité camerounaise. Il
                souhaite bâtir un Cameroun autonome, équitable, culturellement riche, inclusif et durable, affranchi des
                tutelles néocoloniales. L'objectif est claire : un toi sur votre tête, trois repas par jour dans votre
                assiette, l'éducation et la santé vos droits. Le projet s'inscrit dans une volonté de décolonisation
                totale du continent, appuyée sur une renaissance culturelle, économique, portée par des insititutions
                responsables. 
            </p>
            <button routerLink="/le-programme">
                <span>Voir le programme </span>
                <i class="pi pi-arrow-up-right"></i>
            </button>
        </div>
    </div>
</div>