<div class="campain-video">
    <div class="content my-container">
        <div class="image-bloc" (click)="onOpenYoutubeVideo()">
            <button>
                <fa-icon [icon]=" 'faPlay' | convertStringLabelToFontawesomeIcon "></fa-icon>
            </button>
        </div>
        <div class="text"  data-aos="fade-left" data-aos-duration="700">
            <h3>
                <span>Amadou BÂ</span>
                <span>En Paix Vers La Prospérité Partagée</span>
            </h3>

            <p>Restez connectés, et gardez l'écoute sur l'évolution de l'actualité sur la campagne électorale de monsieur Amadou Bâ.</p>
            <button routerLink="/devenir-ambassadeur-de-campagne">
                <span>Me Soutenir</span>
                <i class="pi pi-arrow-up-right"></i>
            </button>
        </div>
    </div>
</div>
