@import url("primeicons/primeicons.css");
@import url("variables.scss");

@layer reset, primeng;

@layer reset {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: 'Inter', sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Montserrat", Verdana, sans-serif;
    }

    ol {
        padding-left: 0;
        margin-left: 0;
        list-style-position: inside;

        li {
            margin-left: 20px;
            margin-bottom: 7px;
        }
    }

    .header-container,
    .my-container {
        max-width: 1400px;
        padding: 0 1rem;
    }

    .error-feedback {
        width: fit-content;
        margin-top: 0.3rem;
        color: #dc3545;
    }

    .p-toast-message-content {
        padding: 0.7rem;

        .p-toast-detail {
            padding: 0.7rem;

        }
    }

    @media all and (max-width: 425px) {
        .my-container {
            padding: 0 10px;
        }
    }
}