:root{
    --project-primary-color: #814B2A;
    --project-secondary-color: #FEFBDA;
    --project-font-black : #343434;
    --project-background-black-color : #191922;
    --project-font-color-white-on-primary : #eeeeee;
}