:root {
    --project-primary-color: #814B2A;
    --project-secondary-color: #FEFBDA;
    --project-font-black: #343434;
    --project-black-primary-color: #191922;
    --project-blue-primary-color: #010339;
    --project-blue-secondary-color: #5cb0d7;
    --project-blue-tertiary-color: #c5e6f2;
    --project-yellow-primary-color: #e9bc00;
    --project-yellow-secondary-color: #fff1c8;
    --project-white-primary-color: #fdfdfd;
}