<div class="campain-counter-event">
    <div class="content my-container">
        <h2>
            <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="100" data-aos-anchor-placement="top-bottom">ÉLECTIONS</span> 
            <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="300" data-aos-anchor-placement="top-bottom">PRÉSIDENTIELLES 2025</span>
        </h2>

        <div class="card" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <button>
                <span routerLink="articles/6">Voir les détails</span>
                <i class="pi pi-arrow-up-right"></i>
            </button>
            
            <div class="countdown">
                <div class="countdown-item">
                    <span>{{ countdown.days }}</span>
                    <span>Jours</span>
                </div>
                <span class="double-bullet">:</span>
                <div class="countdown-item">
                    <span>{{ countdown.hours }}</span>
                    <span>Heures</span>
                </div>
                <span class="double-bullet">:</span>
                <div class="countdown-item">
                    <span>{{ countdown.minutes }}</span>
                    <span>Minutes</span>
                </div>
                <span class="double-bullet">:</span>
                <div class="countdown-item">
                    <span>{{ countdown.seconds }}</span>
                    <span>Secondes</span>
                </div>
            </div>

            <img data-aos="fade-down" data-aos-duration="1000" data-aos-delay="300" ngSrc="../../../../../assets/img/home/countdown/la-jeunesse-derriere-la-candidature-de-serge-espoir-matomba.webp"
                alt="La jeunesse derrière la candidature de Serge Espoir Matomba" width="600" height="455" priority>
        </div>
    </div>
</div>