<div class="program-list">
    <div class="content my-container">
        <div class="title">
            <h2>CONSUTEZ LE RÉSUMÉ DU PROGRAMME PAR THÉMATIQUES</h2>
            <p>Le changement est en marche ! Je m'engage à transformer notre pays en un hub économique et social florissant. Avec une vision audacieuse et des politiques novatrices, nous construisons un avenir meilleur pour tous les camerounais.</p>
        </div>
        <ul class="programs">
            @for (program of programs; track $index) {
                <li class="program" (click)="onProjectSelected(program.id)">
                    <h3> {{program.title}} </h3>
                    <p>{{program.description}} </p>
                    <button>Voir la thématique</button>
                </li>
            }
        </ul>
    </div>
</div>