@if (events && events.length > 10) {
<div class="agenda-data-next">
    <h3>Prochaines Dates</h3>

    <div class="events">
        @for (event of events; track $index) {
        <div class="event" routerLink="/agenda/{{event.id}}">
            <img src={{event.coverImage}} alt={{event.title}}>
            <h4> {{event.title}} </h4>

            <div class="date">
                <span>{{getDayDate(event.date)}}</span>
                <span>{{getMonthDate(event.date)}}</span>
            </div>

            <span class="event-type-name"> {{event.eventTypeName}} </span>
        </div>
        }
    </div>
</div>
}