<div class="candidate-container">
    <app-secondary-hero [hero]="secondaryHeroBannerData$ | async"></app-secondary-hero>
    <app-top-about></app-top-about>
    <app-biography></app-biography>
<!--
    <app-featured-programs></app-featured-programs>
-->
    <app-campain-video></app-campain-video>
<!--
    <app-campain-team [teamMembers]="(campainTeam$ | async)!"></app-campain-team>
-->
    <app-program-banner></app-program-banner>
    <app-ambassador-banner [ambassadorBanner]="ambassadorBanner"></app-ambassador-banner>
</div>