.secondary-hero{
    display: flex;
    justify-content: center;
    height: 25rem;
    position: relative;

    &::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-color: #00000093;
        width: 100%;
        height: 100%;
    }

    img{
        object-fit: cover;
        object-position: center;
    }

    .content{
        display: flex;
        justify-content: center;
        height: 100%;
        color: white;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        padding-top: 6rem;

        h1{
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 2.5rem;
            text-align: center;
        }

        .breadcrumb{
            display: flex;
            align-items: center;

            .link-bloc{
                display: flex;
                align-items: center;
                padding-bottom: 10px;
                overflow: hidden;
                position: relative;

                fa-icon{
                    font-size: 1.2rem;
                    margin-right: 7px;
                }
    
                a{
                    color: white;
                    text-decoration: none;
                    font-weight: bold;
                    
    
                    &::before{
                        content: "";
                        position: absolute;
                        height: 2px;
                        width: 100%;
                        background-color: white;
                        left: -100%;
                        bottom: 0px;
                        border-radius: 10px;
                        transition: left 0.2s ease-out;
                    }
    
                    &:hover{
                        &::before{
                            left: 0;
                        }
                    }
                }
            }

                
            .separator{
                margin: 0 15px;
            }

            span{
                font-weight: 100;
                color: #e9e9e9;
                padding-bottom: 10px;

            }
        }
    }
}

@media all and (max-width: 1024px){
    .secondary-hero{
        .content{
            h1{
                font-size: 2.4rem;
            }
        }
    }
}

@media all and (max-width: 768px){
    .secondary-hero{
        .content{
            h1{
                font-size: 2.3rem;
            }
        }
    }
}

@media all and (max-width: 425px){
    .secondary-hero{
        height: 18rem;

        .content{
            h1{
                font-size: 2rem;
            }
        }
    }
}