.home-pact {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 6rem;

    .content {
        display: flex;
        width: 100%;
        align-items: flex-start;
        gap: 4rem;

        .image-wrapper {
            position: relative;
            width: 50%;
            height: 100%;
            overflow: hidden;

            &:hover {
                img {
                    transform: scale(1.1);
                }

                .icon-wrapper {
                    background-color: var(--project-yellow-primary-color);
                    color: var(--project-blue-primary-color);
                }
            }

            img {
                transition: all 0.3s ease-in-out;
                object-position: top center;
                object-fit: cover;
                object-position: 0rem 25%;
            }


            .icon-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                width: 120px;
                height: 120px;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                background: rgba(240, 222, 151, 0.2);
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                border: 1px solid rgba(255, 255, 255, 0.3);
                z-index: 3;
                color: var(--project-yellow-primary-color);
                transition: all 0.3s ease-out;
                cursor: pointer;

                fa-icon {
                    font-size: 4rem;
                }
            }
        }

        .texts {
            display: flex;
            flex-direction: column;
            color: var(--project-black-primary-color);
            height: 100%;
            width: 50%;
            gap: 4rem;
            justify-content: space-between;

            .pact-text {

                h4 {
                    display: flex;
                    flex-direction: column;
                    font-size: 2rem;
                    margin-bottom: 2.5rem;
                    letter-spacing: -1px;
                    line-height: 1;
                    font-weight: 900;
                }

                .data {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 13;
                    overflow: hidden;
                }

                p {
                    line-height: 1.5;
                    margin-bottom: 10px;
                    font-size: 1rem;
                }
            }

            button {
                display: flex;
                align-items: center;
                padding: 10px 20px;
                color: var(--project-black-primary-color);
                background-color: var(--project-white-primary-color);
                border: none;
                width: fit-content;
                border-radius: 5px;
                border: 2px solid var(--project-black-primary-color);
                cursor: pointer;

                &:hover {
                    background-color: var(--project-yellow-primary-color);
                    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

                    i {
                        transform: rotate(45deg);
                    }
                }

                span {
                    font-size: 1rem;
                }

                i {
                    margin-left: 7px;
                    font-size: 1.2rem;
                    transition: all 0.2s ease-out;
                }
            }
        }
    }
}

@media all and (max-width: 1060px) {
    .home-pact {
        .content {
            gap: 2rem;

            .texts {
                .pact-text {

                    h4 {
                        margin-bottom: 1.7rem;
                    }

                    .data {
                        -webkit-line-clamp: 12;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 870px) {
    .home-pact {
        .content {
            gap: 2rem;
            flex-direction: column;

            .image-wrapper {
                width: 100%;
                height: 50rem;

                img {
                    object-position: 0rem 15%;
                }
            }

            .texts {
                width: 100%;
                height: fit-content;

                .pact-text {

                    h4 {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 560px) {
    .home-pact {
        .content {
            .image-wrapper{
                height: 30rem;
            }
        }
    }
}