<div class="home-pact">
    <div class="content my-container">
        <div class="image-wrapper" (click)="onOpenYoutubeVideo()" data-aos="fade-right" data-aos-duration="1500">
            <img ngSrc="../../../../../../../assets/img/home/pact/profession-de-foi-de-serge-espoir-matomba.webp" alt="Profession de foi du candidat Serge Espoir Matomba pour les élections présidentielles d'octobre 2025" fill>
            <button class="icon-wrapper">
                <fa-icon [icon]=" 'faPlay' | convertStringLabelToFontawesomeIcon "></fa-icon>
            </button>
        </div>

        <div class="texts">
            <div class="pact-text">
                <h4>
                    PROFESSION DE FOI DU CANDIDAT SERGE ESPOIR MATOMBA POUR LES ÉLECTIONS PRÉSIDENTIELLES D'OCTOBRE 2025
                </h4>

                <div class="data">
                    <p>
                        <b>Serge Espoir Matomba</b> se présente comme l'héritier des pères fondateurs du Cameroun,
                        profondément inspiré par les figures historiques de la libération comme Douala Manga Bell et
                        Ruben Oum Nyobè. Dès son jeune âge, il s'est senti investi d'une vocation politique noble, celle
                        de servir et de bâtir sa patrie. Après un parcours d'apprentissage international pour acquérir
                        l'expertise nécessaire, il est rentré au Cameroun.
                    </p>
                    <p>
                        Il a fondé ses propres entreprises pour financer son projet, refusant les financements douteux,
                        puis a créé son parti pour promouvoir sa vision d'un Cameroun nouveau. Matomba voit sa
                        génération comme celle qui doit bâtir la nation, cinquante ans après ses fondations. Il s'engage
                        fermement à ne pas trahir cette mission exaltante, ni le peuple camerounais.
                    </p>
                </div>
            </div>
            <button (click)="openPactModal()" data-aos="fade-left" data-aos-duration="1000">
                <span>Voir La Profession De Foi En Entier</span>
                <i class="pi pi-arrow-up-right"></i>
            </button>
        </div>
    </div>
</div>