<div class="home-pact">
    <div class="content my-container">
        <div class="texts">
            <div class="pact-text">
                <h4>
                    PACTE D’ENGAGEMENT ETHIQUE ET POLITIQUE DU CANDIDAT DE BENNOO BOKK YAAKAAR ET DE LA GRANDE MAJORITE PRESIDENTIELLE
                </h4>

                <div class="data">
                    <p>
                        Moi, <strong>M. Amadou BÂ</strong>, choisi de maniére consensuelle pour porter la candidature de Bennoo Bokk Yaakaar et de la Grande majorité présidentielle a I’élection présidentielle de février 2024,
                    </p>
                    <p>
                        Conscient des enjeux de la Présidentielle de 2024 qui pose le choix de la sauvegarde du mode¢le sénégalais de République démocratique, dans la paix et la stabilité ou celui d’un régime obscurantiste de I’aventure et du chaos,
                    </p>
                    <p>
                        Soucieux de I’avenir de notre pays et de la nécessité de poursuivre les politiques publiques portées par le PSE pour I’intérét exclusif des populations du Sénégal, dans le contexte particulier d’exploitation du pétrole et du gaz,
                    </p>
                    <p>
                        Adossé au bilan magnifique, matériel comme immatériel, du Président Macky SALL qui a réalisé, grace au Plan Sénégal Emergent (PSE), des performances exceptionnelles, dans tous les secteurs d'activités de la vie politique, économique, sociale et culturelle du pays, plagant ainsi le Sénégal sur les rampes de |’émergence et a en faire un pays respecté partout dans le monde,
                    </p>
                </div>
            </div>
            <button (click)="openPactModal()">
                <span>Consulter Le Pacte En Entier</span>
                <i class="pi pi-arrow-up-right"></i>
            </button>
        </div>
    
        <div class="image" (click)="onOpenYoutubeVideo()" data-aos="fade-left" data-aos-duration="1500">
            <button>
                <fa-icon [icon]=" 'faPlay' | convertStringLabelToFontawesomeIcon "></fa-icon>
            </button>
        </div>
    </div>
</div>